<!DOCTYPE html>
<html>
  <head>
    <title>50 Cent Gallery</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
      </nav>
    </header>
    <main>
      <h1>50 Cent Gallery</h1>
      <p>Check out some of the most iconic images of 50 Cent!</p>
      <div class="gallery">
        <img src="/50_cent_1.jpg" alt="50 Cent Image 1">
        <img src="/50_cent_2.jpg" alt="50 Cent Image 2">
        <img src="/50_cent_3.jpg" alt="50 Cent Image 3">
      </div>
    </main>
  </body>
</html>
